{% extends "worker/worker base.html" %}
{% block content %}








<div class="card" style="width: 65rem;">
    <div class="card-body">
    <h5 class="card-title">worker_view_schedule</h5>



<table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">WORKER</th>
      <th scope="col">DATA</th>
        <th scope="col">START TIME</th>
      <th scope="col">END TIME</th>


    </tr>
  </thead>

  <tbody>
   {% for n in worker_view_schedule %}
   <tr>
     <td>{{forloop.counter}}</td>
    <td>{{n.worker}}</td>
   <td>{{n.date}}</td>
    <td>{{n.start_time}}</td>
        <td>{{n.end_time}}</td>
       <td><a href= "{% url 'delete_schedule' n.id %}"><button type="button" class="btn btn-info">DELETE</button></a></td>


       {% empty %}
   </tr>
    <tr>
       <td colspan="7"><h3>No results found</h3></td>
   </tr>
   {% endfor %}
  </tbody>
        </table>

  {% endblock %}



  </div>
</div>
