{% extends "admin/admin base.html" %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
    <label class="form-control-label">date</label>
    <input required class="form-control" readonly value="{{feedback.date}}">
    </div>

    <div class="form-group">
    <label class="form-control-label">Complaint</label>
    <input required class="form-control" readonly value="{{feedback.feedback}}">
    </div>


    <div class="form-group">
    <label class="form-control-label">Reply</label>
     <textarea cols="5" rows="7" required id="company" class="form-control" name="reply">
     </textarea>
    </div>

    <div class="form-actions form-group">
        <button type="submit" class="btn btn-info">submit</button>
    </div>
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}


</form>
</div>
</div>
</div>
{% endblock %}