{% extends 'admin/admin base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">payment details</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>SL NO.</th>
                          <th>NAME</th>
                          <th>BILL_DATE</th>
                          <th>AMOUNT</th>
<!--                          <th>PAID_ON</th>-->
                          <th>STATUS</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in bill %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{ i.name }}</td>
                          <td>{{ i.bill_date }}</td>
                          <td>{{ i.amount }}</td>
<!--                          <td>{{ a.schedule.pain_on }}</td>-->
                          <td>
                              {% if a.status == 0 %}
                        <button type="button" class="btn btn-warning">payment Pending</button>
                        {% elif a.status == 1 %}
                        <button type="button" class="btn btn-success">payment Confirmed</button>
                         {% else %}
                        <button type="button" class="btn btn-danger">pay in direct</button>
                              {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}